@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");

body {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
    color: rgb(229, 229, 229);
    font-family: "Noto Sans JP", sans-serif;
}

.App {
    background-color: rgb(20, 33, 61);
    min-width: 80vw;
    max-width: 80vw;
    margin: 0;
    display: flex;
}

.MainWindow {
    flex: 7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.SideWindow {
    display: flex;
    flex-direction: column;
    flex: 3;
    padding: 10px;
    background-color: rgb(20, 33, 61);
}

@media only screen and (max-width: 600px) {

    body {
        margin: 0px;
    }

    .App {
        min-width: 99vw;
        max-width: 99vw;   
        min-height: 99vh;
        max-height: 99vh;
    }

    .SideWindow {
        width: fit-content;
        max-width: 100vw;
        padding: 0px;
    }

}