.LifelineDisplayContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    border: 2px double rgba(255,255,255,0.7);
    padding: 10px;
    margin: 0px 5px 5px 5px;
    background-color: black;
}

.LifelineDisplayHeaderContainer {
    padding-bottom: 15px;
}
.LifelineDisplayHeader {
    margin: 0px;
    font-size: 1.0em;
    /* text-decoration: underline; */
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(255,255,255,0.8);
    font-weight: 600;
    text-shadow: 1px 1px 3px rgba(252, 163, 17, 0.7);
    letter-spacing: 0.2em;
}

.LifelineButtonsContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.LifelineButton {
    margin: 2px;
    width: 64px;
    height: 64px;
}

@media only screen and (max-width: 720px) {

    .LifelineButtonsContainer {
        justify-content: space-between;
    }
    .LifelineButton {
        width: 48px;
        height: 48px;
    }
}

.LifelineButton:hover:enabled {
    cursor: pointer;
}
/* 
.LifelineButton:hover:disabled {
    cursor: not-allowed;
} */
/* 
.LifelineButton:active {
    width: 90%;
    height: 90%;
} */

.LifelineButton:disabled {
    opacity: 50%;
}