/* .Container img {

    width: 100px;
    height: 100px;
}
*/

.PortraitWindowContainer {
    height: 200px;
    border: 1px solid white;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
}

.PortraitWindowText {
    border: 1px solid red;
    margin: 0px;
    min-width: 100%;
    /* display: flex; */
    flex-basis: 10%;
    color: white;
} 

.PrevCorrectAnswer {
    font-weight: bold;
}

.CorrectAnswerIcon {
    opacity: 0;
    animation: fadeInOut 1s;
}

@keyframes fadeInOut {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}