/* .Container img {

    width: 100px;
    height: 100px;
}
*/

.PortraitWindowContainer {
    height: 100%;
    /* border: 1px solid white; */
    border-right: 2px double rgba(255,255,255,0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 10px;
    /* border: 1px solid greenyellow; */
}

.PortraitWindowText {
    /* border: 1px solid red; */
    margin: 0px;
    min-width: 80%;
    /* position: absolute; */
    /* display: flex; */
    flex-basis: 10%;
    color: white;
} 

.PrevCorrectAnswer {
    font-weight: bold;
}

.CorrectAnswerIcon {
    /* position: absolute;
    margin-left: auto;
    margin-top: auto; */
    opacity: 0;
    animation: fadeInOut 1s;
}

.BarChart {
    /* margin: auto; */
    /* justify-self: flex-end !important ; */
    align-self: flex-start;
    position: absolute;
    margin-left: auto;
}

@keyframes fadeInOut {
  0%   { opacity:0; }
  50%  { opacity:1; }
  100% { opacity:0; }
}